<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Window Body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div style="margin:15px;">
<table  class="table table-striped">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Website</td>
    <td>Username</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let d of users; let i = index;">
    <td><span >{{d.id}}</span></td>
    <!-- <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">{{d.name}}</button></td> -->
    <td><a href="#" data-toggle="modal" data-target="#exampleModalLong">{{d.name}}</a></td>
    <td><span >{{d.email}}</span></td>
    <td>{{d.phone}}</td>
    <td><span>{{d.website}}</span></td>
    <td><span >{{d.username}}</span></td>
  </tr>
  </tbody>
</table>
</div>

